@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');


*{
  margin: 0;
  box-sizing: border-box;
  /* border: solid black 1px; */
}

/* changes background infinite times */
html {
  animation: mymove 5s infinite;
  }

/* cards pop up with a slow and increasing opacity transition */
/* https://www.w3schools.com/css/css3_animations.asp  */
@-webkit-keyframes clearIn {
  0% {opacity: 0;}
  50% {opacity: 0.8}
  100% {opacity: 1;}
}

/* title on the homepage bounces in */
@keyframes bounceIn {
  0% {opacity: 0;
      transform: scale(0.1);}

  60% {opacity: 0.5;
  transform: scale(1.2);}

  100% {opacity: 1;
  transform: scale(1);}
}

/* buttons pulse to lead the user into clicking it/ catch attention */
@-webkit-keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.2);}
  100% {transform: scale(1);}
}

/* background color transition  */
@keyframes mymove {
  0% {background-color: #d4eeff;}
  50% {background-color: #8dc0e0;}
  70% {background-color: #79afd1;}
  100% {background-color: #d4eeff;}
}

/* intense color change on the last page to set a different mood */
@keyframes congrats {
  0% {background-color: #d4eeff;}
  30% {background-color: #8dc0e0;}
  50% {background-color: #ffb5ed;}
  70% {background-color: #ff96d0;}
  100% {background-color: #d4eeff;}
}

/* buttons on preference quiz */
.button1 {
  padding: 2vmin 4vmin  ;
  font-family: 'Spartan';
  font-size: 2vmin;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #7aa3bf;
  border: none;
  border-radius: 5vmin;
  box-shadow: 0 1vmin #999;
  margin-top: 6vmin;

}

.button1:hover {background-color: #638fad}

.button1:active {
  background-color: #5e89a6;
  box-shadow: 0 1vmin #666;
  transform: translateY(4px);
}

/* navigation buttons that pulse */
.buttonPulse {
  padding: 2vmin 3vmin;
  font-family: 'Spartan';
  font-size: 2vmin;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #f7bedf;
  border: none;
  border-radius: 15px;
  box-shadow: 0 1vmin #999;
  -webkit-animation: pulse 1s ease infinite;


  /* margin-top: 3vmin; */

}

.buttonPulse:hover {background-color: #e6a5ca}

.buttonPulse:active {
  background-color: #d48ab4;
  box-shadow: 0 1vmin #666;
  transform: translateY(4px);
}

/* Navigation Button that does not pulse */
.buttonNavigation {
  padding: 2vmin 3vmin;
  font-family: 'Spartan';
  font-size: 2vmin;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #f7bedf;
  border: none;
  border-radius: 15px;
  box-shadow: 0 1vmin #999;
  margin-left: 2vmin;
  /* margin-top: 3vmin; */
}

.buttonNavigation:hover {background-color: #e6a5ca}

.buttonNavigation:active {
  background-color: #d48ab4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* .buttonNavigation1 {
  padding: 2vmin 3vmin;
  font-family: 'Spartan';
  font-size: 3vmin;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #f7bedf;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
} */

/* .buttonNavigation1:hover {background-color: #e6a5ca}

.buttonNavigation1:active {
  background-color: #d48ab4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} */

/* buttons used to diplay names of the ice cream */
.buttonName {
  padding: 2vmin 4vmin  ;
  font-family: 'Spartan';
  font-size: 2vmin;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #7aa3bf;
  border: none;
  border-radius: 15px;
  box-shadow: 0 1vmin #999;
  line-height: 1.5;
  width: 100%;
}

.buttonName:hover {background-color: #638fad}

.buttonName:active {
  background-color: #5e89a6;
  box-shadow: 0 1vmin #666;
  transform: translateY(4px);
}


#background2 {
  /* https://github.com/er129idm/introweb-2020sp-d/tree/master/class-07 */
  /* using flexbox [lesson 7] */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;

/* using viewport width and height [lesson 8] */
  width: 100vw;
  height: 100vh;
}

/* #background3 {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
} */

#mainContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

#title2 {
  font-family: 'Luckiest Guy';
  font-size: 10vmin;
  position: relative;
  color: white;
  text-align: center;
}

#story {

  width: 70%;
  height: auto;
  margin-top: 3vmin;
  margin-left: 10vmin;
  margin-right: 10vmin;

  font-family: 'Spartan';
  font-size: 3vmin;
  position: relative;
  color: black;

/* lowers the opacity of the white background on the "How it began" page */
  background: rgba(255,255,255 ,0.3);
  padding: 2vmin;

  line-height: 1.5;

}

/* sets margin for all <p> elements after the first <p> */
/* lesson 9 using CSS selectors */
/* https://github.com/er129idm/introweb-2020sp-d/tree/master/class-09 */
p+p {
  margin-top: 3vmin;
}

#icecream {
  width: 75%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 22vmin;
}

#icecream img{
  width: 50%;
}



/* ------ */



/* #background3 {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} */

.mainContainer2 {
  display: flex;
  flex-direction: column;

  align-content: center;
  width: 100vw;

  margin-top: 5vmin;
}

/* parent div that contains cards and navigation buttons */
.CardMainContainer {
  display: flex;
  flex-direction: row;

  width: 100vw;

  justify-content: center;
  align-items: center;
  -webkit-animation: clearIn 1s ease-in;
}

.CardContainer {
  width: 50vmin;
  height: 60vmin;
  background: white;
  border-radius: 5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-right: 3vmin;
  margin-left: 3vmin;


}

.image {
  width: 80%;
  height: 65%;
  background: pink;
  /* object-fit: cover; */
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  font-family: 'Spartan';
  font-size: 5vmin;
  color: black;

}

.instruction {
  font-family: 'Spartan';
  font-size: 2vmin;
  text-align: center;
  /*
  align-items: center;
  justify-content: center; */
  margin-right: 10vmin;
  margin-left: 10vmin;
  margin-bottom: 5vmin;
}

/* #logo{
  width: 100%;
  position: absolute;
  top:0;
  left:0;
}

#logo img {
  width: 30vmin;
  height:auto;
} */

#PerfectCardContainer {
  display: flex;
  flex-direction: column;

  width: 30%;
  height: 60%;
  background: white;
  border-radius: 5%;

  justify-content: center;
  align-items: center;

  margin-right: 3vmin;
}

/* .buttonPrevious {
  color: black;
  justify: center;
} */

/* Pressed button that is unclickable */
.perfectText{
  /* padding: 2vmin 4vmin; */
  font-family: 'Luckiest Guy';
  font-size: 6vmin;
  text-align: center;
  outline: none;
  color: pink;
  text-shadow: 0.5vmin 0.5vmin #292929;

  /* background-color: #5e89a6;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0.5vmin #999; */


  margin-top: 5vmin;
}

/* lesson 12 using CSS grids
https://github.com/er129idm/introweb-2020sp-d/tree/master/class-12 */
.background5 {
  display: grid;
  width: 100vw;
  /* height: 100vh; */
  /* grid-template-columns: repeat(5, 1fr); */
  /* grid-template-rows: repeat(4, 1fr); */

  /* grid-auto-rows: minmax(100px,auto); */
  align-items: start;
  grid-gap: 2vmin;
  margin-top: 5vmin;
}

/* takes user to the homepage when clicked */
.Logo {
  display: flex;
  /* display: grid; */
  /* grid-column: 1/6; */
    /* float: left; */
    position: absolute;
    left:0;
    top:0;

}

.Logo img{
  width: 23%;
  height: auto;
  object-fit: cover;
  padding: 1vmin;
}

.instructions {
  font-family: 'Spartan';
  font-size: 2vmin;

  text-align: center;
  /* grid-row:0; */
  /* grid-column:1/5 ; */

  line-height: 2;

  grid-area: 1/1/1/5;
  grid-column-end: span 5;

}

#previous {
  grid-column: 1;
  grid-row: 3;
  /* aligns button element horizontally and vertically */
  place-self: center;
}

/* using CSS grid */
.cardDeck {
  display: grid;
  /* grid-template-columns: 1fr 2fr 2fr 2fr; */
  grid-auto-columns: fit-content;
  /*
  grid-gap:2vmin; */
  margin-left: 7vmin;
  margin-right: 7vmin;
  grid-gap: 3vmin;
}

.cardDeckContainer {
  display: grid;
  width: 100vw;
  height: 95vh;
  align-items: center;

}

.card {
  background: #f7bedf;
  height: 39vmin;
  justify-content: center;
  border-radius: 5%;
  object-fit: cover;


}



.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* placing the button according to grids */
.nameButton {
  grid-column: 2;
  grid-row: 3;
  grid-column-end: span 1;
  /* margin-left: 7vmin; */

}

.nameButton2 {
  grid-column: 3;
  grid-row: 3;
  grid-column-end: span 1;

  /* margin-left: vmin; */
}

.nameButton3 {
  grid-column: 4;
  grid-row:3;
  grid-column-end: span 1;

}

#CongratsBackground {
  width: 100vw;
  height: 100vh;
  animation: congrats 2s infinite;

}

/* .everything {
display: grid;
grid-template-columns: 1fr 6fr 1fr;
} */

.all{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.buttonCard {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  width: 100vw;
}

.pulseButton {
  display: grid;
  align-items: center;
  justify-content: center;
}

.pleaseWork {
  display: flex;
  flex-direction: row;
}

.nameButton {
  grid-row:3;
  grid-column: 2;
  grid-column-end: span 1;
}

.nameButton2 {
  grid-row: 3;
  grid-column: 3;

  grid-column-end: span 1;
}

.nameButton3 {
  grid-row:3;
  grid-column: 4;
  grid-column-end: span 1;
  /* margin-bottom: 5vmin; */
}

@media only screen and (max-width: 480px) {

  .all{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

    /* margin-top: 7vmin; */
  }

  .Logo {
    display: flex;
    /* display: grid; */
    /* grid-column: 1/6; */
      /* float: left; */
      float: top left;
      left:0;
      top:0;

  }

  .Logo img{
    width: 23%;
    height: auto;
    object-fit: cover;
    padding: 1vmin;
  }

  .mainContainer2 {
    display: flex;
    flex-direction: column;
    height: auto;
    align-content: center;
    margin-top: 7vmin;
  }

  .instruction {
    font-family: 'Spartan';
    font-size: 2vmin;
    text-align: center;
    /*
    align-items: center;
    justify-content: center; */
    margin-right: 10vmin;
    margin-left: 10vmin;
    margin-bottom: 5vmin;
  }

  .CardMainContainer {
    display: flex;
    flex-direction: row;

    /* justify-content: center; */
    /* float: left; */
    align-items: center;
    -webkit-animation: clearIn 1s ease-in;

    margin: 0;
  }

  .CardContainer {
    width: 50vmin;
    height: 55vmin;
    background: white;
    border-radius: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 3vmin 3vmin 3vmin;


  }

  .image {
    width: 80%;
    height: 65%;
    background: pink;
    /* object-fit: cover; */
  }

  .image img {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }

  .text {
    font-family: 'Spartan';
    font-size: 5vmin;
    color: black;

  }.buttonNavigation {
    padding: 2vmin 3vmin;
    font-family: 'Spartan';
    font-size: 2vmin;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #f7bedf;
    border: none;
    border-radius: 15px;
    box-shadow: 0 1vmin #999;
    margin-bottom: 3vmin;
    /* margin-top: 3vmin; */
  }

  .buttonCard {
    display: flex;
    flex-direction: column;

  }

  .item-6x {
    grid-column-end: span 5;
  }

  .button1 {
    padding: 2vmin 4vmin  ;
    font-family: 'Spartan';
    font-size: 2vmin;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #7aa3bf;
    border: none;
    border-radius: 5vmin;
    box-shadow: 0 1vmin #999;
    margin-top: 3vmin;

  }

  /* .card {
    background: #f7bedf;
    height: 39vmin;
    justify-content: center;
    border-radius: 5%;

    grid-row: 3;
    object-fit: cover;
  } */

.card {
    grid-column: 2;
  grid-column-end: span 3;

}

.nameButton {
  grid-row:3;
  grid-column: 2;
  grid-column-end: span 3;
}

.nameButton2 {
  grid-row: 5;
  grid-column: 2;

  grid-column-end: span 3;
}

.nameButton3 {
  grid-row:8;
  grid-column: 2;
  grid-column-end: span 3;
  /* margin-bottom: 5vmin; */
}

.cardDeck {
  margin: 0 20vmin 0 20vmin;
  /* padding-bottom: 5vmin; */
}

.pulseButton {
  display: grid;
  grid-row: 4;
  justify-items: center;
  margin-bottom: 3vmin;
}

.pleaseWork {
  display: flex;
  flex-direction: column;
}

.empty {
  padding: 0 5vmin 0 5vmin;
  grid-column: 5;
  grid-row: 4;
}
